_form.html.erb<script>
    $('[data-form-prepend]').click( function(e) {
        var obj = $( $(this).attr('data-form-prepend') );
        obj.find('input, select, textarea').each( function() {
            $(this).attr( 'name', function() {
                return $(this).attr('name').replace( 'new_record', (new Date()).getTime() );
            });
        });
        obj.insertBefore( this );
        return false;
    });
</script>

<%= form_for @quiz do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :quiz_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :quiz_description %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, id: :user_id  %>
  </div>

  <h3>Questions</h3>
  <p>
    <%= form.fields_for :questions do |f| %>
      <%= render 'question_fields', f: f %>
    <% end %>
  </p>

  <p>
    <%= link_to_add_fields('Add new question', form, :questions) %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>