<div class="form-group">
    <div class="box">
      <div class="field">
        <%= f.label :question %>
        <%= f.text_field :question, id: :question %>
      </div>
      <div class="field">
        <%= f.label :answer %>
        <%= f.text_field :answer, id: :answer %>
      </div>
      <div style="display: inline">
        <%= f.check_box :_destroy %> <%= f.label :_destroy %>
      </div>
    </div>
</div>