<!DOCTYPE html>
<html>
  <head>
    <title>Gems of Knowledge : A Quiz App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center">
      <h1><a href="/" class="title-link">Gems of Knowledge : A Quiz App</a></h1>
      <ul>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
          | <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link' %>
          | <%= link_to 'Login', new_user_session_path, :class => 'navbar-link' %>
        <% end %>
        | <%= link_to 'About', about_path, :class => 'navbar-link' %>
      </ul>

      <!-- alert box is not working for some reason.. -->
      <!--<div class="alert alert-primary" role="alert">-->

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="">
      <%= yield %>
    </div>

    <br>

    <footer class="text-center small">
      SWE632 Project App <br/>
      &copy; Spring 2018 Ryan Ammons, Haruka Konishi<br/>
      <i>Hosting by <a href="https://www.ammonsdatasolutions.com" target="_blank">Ammons Data Solutions</a></i>
    </footer>

  </body>
</html>
